name: "On pull request"

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions: read-all

jobs:
  security:
    name: Security checks
    uses: PossibleLlama/workflows/.github/workflows/golang-security.yaml@v0.2.19
    with:
      upload-sarif: false
